<div class="attribute">
	<div class="row-fluid">
		<fieldset>
			<legend><%= name %></legend>
			<% if ( horizontal ){ %>
				<div class="days span24">
						<div class="span1"/>
						<% for (var i=0,_len=options.length,enabled=values[0]; i<_len; i++,enabled=values[i] ){ %>
						<div class="option span4">
							<label for="<%=options[i]%>"><%=options[i]%></label>
							<input class="checkbox" type="checkbox" name="<%=name%>" value="<%=options[i]%>"<%=(enabled?' checked':'')%>/>
						</div>
						<%}%>
						<div class="span1"/>
				</div>
			<%} else {%>
				<% for (var i=0,_len=options.length; i<_len; i++ ){ %>
				<div class="row-fluid">
					<div class="seats span24">
						<div class="span2 offset2">
							<input class="checkbox" type="checkbox" name="seats" id="wait" value="wait" checked>
						</div>
						<div class="span20">
							<label for="wait">waitlist</label>
						</div>
					</div>
				</div>	
				<%}%>					
			<%}%>
		</fieldset>
	</div>
</div>