<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale = 1, maximum-scale = 5"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <meta property="og:title" content="<%if(typeof(title)=="undefined"){%>CourseShark<%}else{%><%=title%><%}%>"/>
  <meta property="og:url" content="http://<%= (domain.replace('dev','com')+path) %>"/>
  <meta property="og:site_name" content="CourseShark"/>
  <meta property="og:type" content="<%if(typeof(type)=="undefined"){%>Website<%}else{%><%=type%><%}%>"/>
  <meta property="og:image" content="http://<%= domain.replace('dev','com')%>/images/avatar.png"/>

  <link rel="apple-touch-startup-image" href="/images/splash_screen.png" />

  <meta name="description" content="College schedule creator. CourseShark makes registration simple, even allowing you to share your college schedule with potential recruiters and find the perfect job!">
  <title>CourseShark</title>
  <link rel="stylesheet" href="/styles/schedule/main.css" type="text/css" media="all" />
</head>
<body>
  <div id="app-container"></div>
  <div id="fb-root"></div>
  <script>
  	window.requestAnimFrame = (function(){
  		return  window.requestAnimationFrame ||
  		  window.webkitRequestAnimationFrame ||
  		  window.mozRequestAnimationFrame    ||
  		  window.oRequestAnimationFrame      ||
  		  window.msRequestAnimationFrame     ||
  		  function( callback ){
  		    window.setTimeout(callback, 1000 / 60);
  		  };
  	})();
  	window.CS = {
        loggedIn: <%=!!loggedIn%>
      , schools: <%-JSON.stringify(schools)%>
      , school: <%-JSON.stringify(school._id||false)%>
  		, baseDir: "/s/"
      , domain: "<%=domain%>"
  		, facebook: { appId: "<%= app.config.COURSESHARK_FB_APP_ID %>" }
      , distinctId: "<%= distinctId %>"
      , settings: <%-JSON.stringify(settings)%>
      <%if (loggedIn){ %>
      , auth: {
            user: <%-JSON.stringify(user)%>
          , user_id: "<%=user.id%>"
          , access_token: "<%=authToken%>"
        }
      <%}%>
  	}
  </script>

  <!-- Mixpanel -->
  <script type="text/javascript">
  (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
  b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
  '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
  d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
  var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
  Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
  f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
  'track_forms','register','register_once','unregister','identify','alias','name_tag',
  'set_config','people.set','people.increment'];for(e=0;e<h.length;e++)d(g,h[e]);
  a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
  mixpanel.init("<%=app.config.COURSESHARK_MIXPANEL_ACCESS_TOKEN%>", {track_pageview: false<%if (mode!="production"){%>, debug: false, test: true<%}%>});
  mixpanel.register({ distinct_id: CS.distinctId });
  // error logger
  window.onerror=function(m,f,l){mixpanel.track('js-err',{message:m,file:f,line:l})}
  </script>
  <!-- end Mixpanel -->
<!-- Google Analtics -->
<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-20912280-1']);_gaq.push(['_setDomainName','courseshark.com']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
<!-- End google Analytics -->


  <%if ( built ){ %>
  <script src="/scripts/backbone-schedule/build.main.js" defer="defer"></script>
  <%}else{%>
  <script data-main="/scripts/backbone-schedule/main" src="/scripts/backbone-schedule/lib/require/require.js"></script>
  <%}%>


<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/lRDDSofPPH2MBaUfbhfQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
<!-- A tab to launch the Classic Widget -->
<script>UserVoice=window.UserVoice||[];UserVoice.push(['showTab','classic_widget',{mode:'full',primary_color:'#266e97',link_color:'#3fa9f5',default_mode:'support',forum_id: 165209,tab_label:'Feedback / Help',tab_color:'#266e97',tab_position:'bottom-right',tab_inverted:false}]);</script>




  <!-- Facebook -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : CS.facebook.appId, // App ID
        status     : false,
        cookie     : true,
        xfbml      : false
      });
    };
    window.loadFacebook = function(){
    	(function(d){
  			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  			if (d.getElementById(id)) {return;}
  			js = d.createElement('script'); js.id = id; js.async = true;
  			js.src = "//connect.facebook.net/en_US/all.js";
  			ref.parentNode.insertBefore(js, ref);
  		}(document));
    }
  </script>
</body>
</html>