	<!-- Templates to be used in JS -->
	<script type="text/plain" id="template-course-options">
		<div id="<$=course.id$>" class="course-options-container" style="display: none">
			<div class="course-title"><$=course.department.abbr$> <$=course.number$>
				<div class="remove-course-options" rel="remove" data-course="<$=course.id$>">X</div>
				<div class="toggle-course-options collapse" rel="toggle" data-course="<$=course.id$>">-</div>
			</div>
			<div class="courses-options-wrapper"></div>
		</div>
	</script>
	<script type="text/plain" id="template-section-selector">
		<div rel="section-option" id="<$=section.id$>" class="section-option <$= ( (section.has_children)?' parent':'') + ( section.tbd_class?' TBA':'' ) +((section.friends||[]).length?'friends':'')$>" credits="<$=(section.credits)$>"  <$=(section.friends||[]).length>0?'title="You have '+(section.friends||[]).length+' friends in this section"':''$> >
			<div class="section-number"><$=section.number$></div>
			<div class="section-instructor"><$=section.instructor$></div>
			<div class="section-seats loading">
				<span class="remaining"><$=section.remaining_seats$></span><span class="seat-divider">/</span><span class="total"><$=section.total_seats$></span>
			</div>
		</div>
	</script>
	<script type="text/plain" id="template-caffeine-bar">
		<div id="caffeine_<$=id$>" class="seat-notification">Create an open seat <a href="#" onClick="caffeine_clicked=true;show_caffeine_dialog(<$=id$>);return false;">Notification</a></div>
	</script>
	<script type="text/plain" id="template-event-listing">
		<div rel="section-timeslot" class="wk-event-listing option <$=section.id$> <$=(section.friends||[]).length>0?'friends':''$>" id="<$=section.id$>-<$=t$>" data-friends="<$=(section.friends||[]).length$>" style="top:<$=top_offset$>px;width:95%;height:<$=height$>px;" data-original-title="<$=section.department.abbr$> <$=section.course.number$> <$=(slot.type!='None'?slot.type+' ':'')$> [<$=section.number$>]"> \
			<div class="friends-dots"></div>
			<dl class="wk-event-listing-dl">
				<dt data-color="<$=section.color$>">
					<$=section.department.abbr$> <$=section.course.number$> <$=((slot.type!='None'&&slot.type!='Lecture')?slot.type+' ':'')$> <small>[<$=section.number$>]</small>
				</dt>
				<dd>
					<$=slot.instructor$>
					<br />
					<$=slot.location$>
					<br />
					<span class="timeslot-time"><$=startHourAdjusted$>:<$=slot.startTime.getMinutes()$>-<$=endHourAdjusted$>:<$=slot.endTime.getMinutes()$></span>
				</dd>
			</dl> 
		</div>
	</script>
	<script type="text/plain" id="template-event-listing-tbd">
		<div rel="section-timeslot" class="tbd-listing option <$=section.id$>" id="<$=section.id$>-<$=t$>" style="border-color:<$=section.color_dark$>; background-color:<$=section.color$>;" data-original-title="<$=section.department.abbr$> <$=section.course.number$>  [<$=section.number$>]">
			<div class="tbd-listing-head" style="background-color:<$=section.color_dark$>">
				<$=section.department.abbr$> <$=section.course.number$> <$=(section.type!='None'?section.type+' ':'')$> <small>[<$=section.number$>]</small>
			</div>
			<div>
				<$=(section.instructor?((section.instructor.last_name=='None')?'Staff':section.instructor.last_name):'None')$>
				<h3><$=location$></h3>
			</div>
		</div>
	</script>
	<script type="text/plain" id="template-section-info">
		<h3>
			<$=section.course.name$> <$=section.timeslots[0].type$>
		</h3>
		<dl>
			<dt>Section Number</dt>
			<dd><$=section.number$></dd>
		</dl>
		<dl>
			<dt>Instructor</dt>
			<dd>
				<$=section.instructor$>
			</dd>
		</dl>
		<dl>
			<dt>Location</dt>
			<dd>
				<$=section.timeslots[0].location$>
			</dd>
		</dl>
		<dl>
			<dt>Seats</dt>
			<dd>
				<$ if ( !section['seatsAvailable'] && section['seatsTotal'] ){ $>
					All <$=section.seatsTotal$> seats are taken
				<$ } else if ( section['seatsTotal'] ) { $>
					<$=section.seatsAvailable$> available of <$=section.seatsTotal$>
				<$ } else { $>
					Unavailable
				<$ } $>
			</dd>
		</dl>
		<$ if(section['gpa']){$>
		<dl>
			<dt>Average GPA</dt>
			<dd>
				<$=section.gpa$>
			</dd>
		</dl>
		<$ } $>
		<$ function pad(i){return ''+(i<10?'0'+i:i)} $>
		<$ function toTime(dS){d=new Date(dS);sh=d.getHours()>12?d.getHours()-12:d.getHours();return ''+sh+':'+pad(d.getMinutes())} $>
		<dl>
			<dt>Times</dt>
			<$for(var s=0,leng=section.timeslots.length; s<leng; s++ ){ $>
			<dd>
				<$= section.timeslots[s].days.join(', ') $>: <$=toTime(section.timeslots[s].startTime)$> - <$=toTime(section.timeslots[s].endTime)$>

			</dd>
			<$}$>
		</dl>

	</script>
	<script type="text/plain" id="template-ical">
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//CourseShark//CourseShark Calendar 1.0//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH<$=name$>
X-WR-TIMEZONE:<$=timezone$>
X-WR-CALDESC:Term Schedule by CourseShark.com
BEGIN:VTIMEZONE
TZID:"<$=timezone$>"
LAST-MODIFIED:20050809T050000Z
BEGIN:DAYLIGHT
DTSTART:19670430T020000
RRULE:FREQ=YEARLY;BYMONTH=4;BYDAY=-1SU;UNTIL=19730429T070000Z
TZOFFSETFROM:-0500
TZOFFSETTO:-0400
TZNAME:EDT
END:DAYLIGHT
END:VTIMEZONE<$ for (var i=0, evnt; (evnt=events[i])!==undefined; i++){ for (var id=0, dayset; (dayset=evnt['daysets'][id])!==undefined; id++ ){ $>
BEGIN:VEVENT
DTSTART;TZID=<$=timezone$>:<$=dayset['start']$>
DTEND;TZID=<$=timezone$>:<$=dayset['end']$>
RRULE:FREQ=WEEKLY;UNTIL=<$=dayset['endDate']$>;BYDAY=<$=dayset['days']$>
DTSTAMP:<$=now$>
UID:<$=''+Math.random()+user$>
CREATED:<$=now$>
DESCRIPTION:
LAST-MODIFIED:<$=now$>
LOCATION:<$=dayset['location']$>
SEQUENCE:0
STATUS:CONFIRMED
SUMMARY:<$=evnt['name']$>
TRANSP:OPAQUE
END:VEVENT<$ } } $>
END:VCALENDAR
	</script>
	<!-- End Templates -->




<!-- PreLoad images -->
<div style="display:none"><img src="/images/seat_loading.gif" /><img src="/images/seat_loading_child.gif" /></div>
<!-- End Preload -->
	<% if ( !link ){ %>
	<div class="container">
		<div class="subnav">
      <div class="nav-commands">
				<ul class="nav nav-pills">
					<li><a href="#" id="save-button"><i class="icon-tag"></i> Save</a></li>
					<li><a href="#" id="load-button"><i class="icon-folder-open"></i> Load</a></li>
					<li><a href="#" id="new-button" ><i class="icon-file"></i> New</a><li>
					<li><a href="#"	id="print-button"/><i class="icon-print"></i> Print</a></li>
					<li><a href="#" id="number-button"/><i class="icon-list-alt"></i> List CRNs</a></li>
<!-- 					<li><a href="#" id="auto-pilot-button"/><i class="icon-random"></i> AutoAdd Classes</a></li> -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sharing <b class="caret"></b></a>
					  	<ul class="dropdown-menu">
					      <li><a href="#" id="link-button"/><i class="icon-share"></i> Create Link</a></li>
								<li><a href="#" id="ical-button"/><i class="icon-download-alt"></i> Schedule Export</a></li>
								<li><a type="#" id="fb-share-button"/><i class="icon-comment"></i> Post To Facebook</a></li>
					    </ul>
					 </li>
	      </ul>
			</div>
		</div>
	</div>	
	<% } %>
	<div class="container">
		<div class="row">
			<div id="side-bar-wrapper" class="span2">
				<div id="schedule-summary">
					<h2 id="name">-Untitled-</h2>
					<div id="term">Term: <strong id="term-name"></strong></div>
					<div id="hours">Hours: <strong id="number">0</strong></div>
				</div>
				<% if ( !link ){ %>
				<div id="class-adding-form">
					<div id="add-course-content">
						<article>
							<div id="major">
								<label for="major_id">Department &raquo;</label>
								<select name="major_id" id="major_id" autocomplete="off">
									<option value=""></option>
									<% for (var len=departments.length,i=0; i<len; i++){ department=departments[i] %>
										<option value="<%= department.id %>" title="<%= department.name %>"><%= department.abbr %></option>
									<% } %>
								</select>
								<div id="selected-major-name"></div>
							</div>
							<div id="course">
								<label for="course_id">Course &raquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<select name="course_id" id="course_id">
									<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
								</select>
								<span id="courses-loading"><img src="/images/seat_loading.gif"/></span>
								<div id="selected-course-name"></div>
							</div>
						</article>
						<div id="add-course">
							<button type="button" class="blue auto-width" value="Add" id="add-course-button" >Add</button>
						</div>
					</div>
				</div>
				<% } %>
				<div id="class-list-loader"></div>
				<div id="class-list" class="">
				<!-- Containers for the Classes added to the Schedule -->
				</div>
			</div>
			
			<div id="schedule-container" class="span8">
				<%- partial('calendars/week') %>
			</div>
			
			
			<div id="right-bar-wrapper" class="span2">
				<% if ( !link ){ %>
				<section id="friends">
					<header>
						<h2>Friends</h2>
						<a href="#" onClick="addFriendsDialog()" class="btn btn-success">Find Friends</a>
					</header>
					<div id="friends-list" class="">
						<ul class="unstyled">
						<% if ( false ) { %>
							<!-- 
							< foreach($friends as $friend) >
								<li class="friend-available< echo ($friendSchedules[$friend->id]['primary'])?'':' none'?>" data-color="$friend->getColor()?>" data-schedule="$friendSchedules[$friend->id]['primary']"><div class="friend-dot" style="border-color: $friend->getColor()"></div>$friend->name</h2>
							-->
						<% } %>
						</ul>
					</div>
				</section>
				<% } %>
			</div>
		</div>
	</div>

<script>
$(document).ready(function() {
  	$("#major_id").change(function(){
			$('#selected-major-name').fadeOut('fast',function(){$(this).html($("#major_id option:selected").attr('title')).fadeIn('fast')});
			if ( $('#major_id option:first-child').val() == "" ){
				$('#major_id option:first-child').remove();
			}
			$("#courses-loading").fadeIn('fast');
			add_course = function(c){
				$("#courses-loading").hide();
				$('select#course_id option').remove();
				for (var i = 0; i < c.length; i++) {
					c[i].id = c[i]._id;
					$('<option value="' + c[i].id + '" title="' + c[i].name + '">' + c[i].number + '</option>').data('course', c[i]).appendTo("select#course_id");
				}
				$("#course_id").change();
	   	};
		get_courses_from_major($(this).val(), add_course, term.id);
	});
	_gaq = _gaq || {};
	$("#course_id").change(function(){
		$('#selected-course-name').fadeOut('fast',function(){$(this).html($("#course_id option:selected").attr('title')).fadeIn('fast')});
	});
	
	$('#add-course-button').click(function(){
		addCourseToList($("select#course_id :selected").data('course'));
	});
	
	$('#save-button').click(function(){
		<% if ( loggedIn ){ %>
			_gaq.push(['_trackEvent', 'Schedule', 'Save']);
			schedule.pushSave();
			return false;
		<% } else { %>
			_gaq.push(['_trackEvent', 'Schedule', 'Login']);
			openDialog('/login');
			return false;
		<% } %>
	});
	
	$('#load-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'Load']);	
		show_load_dialog();
	});
	
	$('#new-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'New']);
		show_new_dialog();
	});
	
	$('#auto-pilot-button').click(function(){
		_gaq.push(['_trackEvent', 'AutoPilot', 'Start']);
		show_autopilot_dialog();
	});
	
	$('#print-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'Print']);
		window.print();
	});
	
	$('#ical-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'iCal']);
		$('#ical-button').attr('href', schedule.createCal()).attr('download', schedule.name);
	});

	$('#number-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'CRN List']);
		show_number_dialog(schedule);
	});
	
	$('#link-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'Link']);
		openDialog('/schedule/dialog/link');
	});
	$('#fb-share-button').click(function(){
		_gaq.push(['_trackEvent', 'Schedule', 'Facebook']);
		window.location = "<?php echo $fb_link?>"
	});
	window.school = '<%= school %>';
	init(<%if(link){%>'<%- schedule %>'<%}%>);			
});
</script>