<div id="app-container"></div>
<div id="fb-root"></div>
<script>
	window.requestAnimFrame = (function(){
		return  window.requestAnimationFrame ||
		  window.webkitRequestAnimationFrame ||
		  window.mozRequestAnimationFrame    ||
		  window.oRequestAnimationFrame      ||
		  window.msRequestAnimationFrame     ||
		  function( callback ){
		    window.setTimeout(callback, 1000 / 60);
		  };
	})();
	window.CS = {
      loggedIn: <%=!!loggedIn%>
    , schools: <%-JSON.stringify(schools)%>
    , school: <%-JSON.stringify(school._id||false)%>
		, baseDir: "/s/"
    , domain: "<%=domain%>"
		, facebook: { appId: "<%= app.config.facebook.appId %>" }
    , distinctId: "<%= distinctId %>"
    <%if (loggedIn){ %>
    , auth: {
          user: <%-JSON.stringify(user)%>
        , user_id: "<%=user.id%>"
        , access_token: "<%=authToken%>"
      }
    <%}%>
	}
</script>

<!-- Mixpanel -->
<script type="text/javascript">
(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
'track_forms','register','register_once','unregister','identify','alias','name_tag',
'set_config','people.set','people.increment'];for(e=0;e<h.length;e++)d(g,h[e]);
a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
mixpanel.init("22566cab7f699ae4100bd3d23dfc1420", {track_pageview: false<%if (mode!="production"){%>, debug: true, test: true<%}%>});
mixpanel.register({ distinct_id: CS.distinctId });
// error logger
window.onerror=function(m,f,l){mixpanel.track('js-err',{message:m,file:f,line:l})}
</script>
<!-- end Mixpanel -->


<%if ( built ){ %>
<script src="/scripts/backbone-schedule/build.main.js" defer="defer"></script>
<%}else{%>
<script data-main="/scripts/backbone-schedule/main" src="/scripts/backbone-schedule/lib/require/require.js"></script>
<%}%>
<!-- Facebook -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : CS.facebook.appId, // App ID
      status     : false,
      cookie     : true,
      xfbml      : false
    });
  };
  window.loadFacebook = function(){
  	(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
  }
</script>
