<div class="container">
	<div class="row">
		<div class="span8">
			<header>
				<h1>Friends</h1>
			</header>


			<div class="tabbable"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#friends" data-toggle="tab">Your Friends</a></li>
			    <li><a href="#invites" data-toggle="tab">Invites<% if ( invited.length > 0 ){ %> <span class="badge badge-warning"><%=invited.length%></span><%}%></a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="friends">
			      <div class="well">
							<% if (friends.length){ %>
							<!-- Look at mister popular over here -->
							<% friends.forEach(function(friend){ %>
							<div class="friend" data-friend-id="<%=friend._id%>">
								<div class="friend-image">
									<img src="<%= friend.avatar %>" alt="<%=friend.name%> Avatar">
								</div>
								<div class="remove-friend">
									<div class="close" data-friend-id="<%=friend._id%>">&times;</div>
								</div>
								<div class="friend-info">
									<div class="name"><%= friend.name %></div>
									<div class="email-info"><%= friend.email %></div>
								</div>
							</div>
							<% })%>
							<% }else{ %>
							<!-- We've got a loner over here -->
							<div class="center">
								<h3>Well then... lets get you some friends</h3>
								<button class="btn btn-primary btn-large" onClick="openDialog('/friends/add').friendsSearch({next: addUsers})">Add Friends</button>
							</div>
							<%} %>
			      </div>
			    </div>



			    <!-- Invites -->
			    <div class="tab-pane" id="invites">
						<% if (invited.length){ %>
						<section id="invites" class="well">
							<p id="description">The following people have indicated that you may be their friends. Do you accept? 
								<div id="invites">
									<% invited.forEach(function(potentialFriend){ %>
										<div class="friend-invite" data-friend-id="<%=potentialFriend._id%>">
											<div class="friend-image">
												<img src="<%= potentialFriend.avatar(45) %>" alt="<%= potentialFriend.name %> Avatar">
											</div>
											<div class="action-buttons" data-friend-id="<%=potentialFriend._id%>" >
												<button class="btn btn-primary"  data-type="a" data-friend-id="<%=potentialFriend._id%>">Accept</button>
												<button class="btn" data-type="d" data-friend-id="<%=potentialFriend._id%>">Ignore</button>
											</div>
											<div class="friend-info">
												<div class="name"><%=potentialFriend.name%></div>
												<div class="email-info"><%=potentialFriend.email.replace(/@.*$/gi, '')%></div>
											</div>
										</div>
									<% }) %>
								</div>
							</section>
						<% }else{ %>
						<h3>Nothing here yet</h3>
						<% } %>
			    </div>
			  </div>
			</div>






			<section id="friends-list">
				<h2>Friends List</h2>
				<button class="btn btn-success btn-large" onClick="openDialog('/friends/add').friendsSearch({next: addUsers})">Add Friends</button>

				<div id="friends">
					
				</div>	
			</section>
		</div>
		<div class="span3">
			<p class="description span3">
				We&rsquo;ve all got friends, and college is a social experience. So why not take some classes together? 
				Revolutionary we know. You probably already coordinate with some friends to get into the same classes, 
				but it&rsquo;s probably a complicated process that takes more time and effort than it really should in 
				today&rsquo;s tech-based world. Now, with CourseShark Friends, you can easily see what
				your friends are taking this semester, find times for group meetings, and invite friends to join you in a 
				specific section. 
			</p>
		</div>
	</div>
</div>

<%- partial('includes/js.ejs') %>
<script>
	$('#invites .friend-invite .action-buttons button').bind('click', function(){
		$this = $(this);
		$this.parent().children('button').each(function(){$(this).attr('disabled', true);});
		if($this.data('type')=='a'){
			$.ajax({url:'/friends/'+$this.data('friend-id'),data:{_method:'POST'}, type:'POST'});
		}else{
			$.ajax({url:'/friends/'+$this.data('friend-id'),data:{_method:'DELETE'}, type:'DELETE'});
		}
		$this.parent().parent().fadeOut();
	});
	$('.remove-friend .close').bind('click', function(){
		$this = $(this);
		$.ajax({url:'/friends/'+$this.data('friend-id'),data:{_method:'DELETE'}, type:'DELETE'});
		$this.parent().parent().fadeOut();
	});
</script>