<div class="results-section">
  <div class="row-fluid">
    <div class="prof span20"><%= prof %></div>
    <div class="seats span4"><%= seats %></div>
  </div>
  <div class="row-fluid">
    <div class="span20">
      <div class="row-fluid">
        <div class="section-id span24"><%= section_id %> <span class="friend-icon"> ♥</span></div>
      </div>
      <div class="row-fluid">
        <div style="min-height:20px">
          <div class="days span24">
            <div class="day span2" id="monday">m</div>
            <div class="day span2" id="tuesday">t</div>
            <div class="day span2" id="wednesday">w</div>
            <div class="day span2" id="thursday">th</div>
            <div class="day span2" id="friday">f</div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <button class="add"></button>
    </div>
  </div>
  <div class="details">
    <div class="row-fluid">
      <div class="description span24">
        <%= description %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="hours span24">
        <%= hours %> Credit Hours
      </div>
    </div>
    <div class="row-fluid">
      <div class="section-friends span24">
        Friends:
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="expander span24">
      <i class="icon-chevron-down"></i>
    </div>
  </div>
</div>
