<div class="container">
	<div class="row">
		<div class="span3">
			<img src="<%=account.avatar(200)%>" alt="Profile Image" />
			<p><small>Avatar from <%=account.avatarFrom()%></small></p>
		</div>
		<div class="span6">
			<h1><%=account.name%></h1>
			<%if (account.year) { %><h3><%=account.year%><sup><%=numberize(account.year)%></sup> year</h3><%}%>
			<h3><%=: account.major?account.major.name:'&mdash;' | capitalize%> @ <%=: account.school?account.school.abbr:'&mdash;' | capitalize%></h3>
		</div>
		<div class="span3">
			<h1>Friends</h1>
			<h4>You have added <a href="/friends"><%=friends.length%> friends</a></h4>
			<button class="btn btn-success" onClick="openDialog('/friends/add').friendsSearch({next: addUsers})">Add Friends</button>
		</div>
	</div> <!-- /.row -->
	<!-- Settings -->
	<form class="form-horizontal" id="settings-form">
	
		<div class="page-header">
			<h1>Profile Settings</h1>
		</div>
	
		<div class="row">
			<div class="span8 offset2">
				<fieldset>
			    <legend>Basic Information</legend>
			    <div class="control-group">
			      <label class="control-label" for="fist_name">Name</label>
			      <div class="controls">
							<input type="text" class="input-xlarge" name="user.firstName" value="<%=account.firstName%>" placeholder="First Name"/>
							<input type="text" class="input-xlarge" name="user.lastName"  value="<%=account.lastName?account.lastName:''%>" placeholder="Last Name"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="email">Email</label>
			      <div class="controls">
							<input type="email" class="input-xlarge" name="user.email" value="<%=account.email?account.email:''%>" placeholder="Email"/>
			      </div>
			    </div>
				</fieldset>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="span8 offset2">
				<fieldset>
			    <legend>Password</legend>
					
					<% if ( !user.isPasswordless() ){ %>
					<div class="control-group">
			      <label class="control-label" for="email">Current</label>
			      <div class="controls">
							<input type="password" class="input-xlarge" name="user.currentPassword" value="" autocomplete="off"/>
			      </div>
			    </div>
			    <% } %>
	
					<div class="control-group">
			      <label class="control-label" for="new_password">New Password</label>
			      <div class="controls">
							<input type="password" class="input-xlarge" name="user.password" value="" autocomplete="off"/>
			      </div>
			    </div>

					<div class="control-group">
			      <label class="control-label" for="confirm_password">Confirm Password</label>
			      <div class="controls">
							<input type="password" class="input-xlarge" name="user.confirmPassword" value="" autocomplete="off"/>
			      </div>
			    </div>
				</fieldset>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="span8 offset2">
				<fieldset>
			    <legend>School Information</legend>
		
					<div class="control-group">
			      <label class="control-label" for="user.school">School</label>
			      <div class="controls">
							<select name="user.school" id="user_school" class="input-xlarge">
							<% schools.forEach(function(school){%>
								<% if ( account.school && school._id.toString() == account.school._id.toString() ){ %>
								<option value="<%=school._id%>" selected><%=school.name%></option>
								<% }else{ %>
								<option value="<%=school._id%>"><%=school.name%></option>
								<% } %>
							<% }) %>
							</select>
			      </div>
			    </div>
		
					<div class="control-group">
			      <label class="control-label" for="user.major">Major</label>
			      <div class="controls">
							<select name="user.major" id="user_major" class="input-xlarge">
								<option value="">Loading...</option>
							</select>
			      </div>
			    </div>
		
					<div class="control-group">
			      <label class="control-label" for="year">Year</label>
			      <div class="controls">
							<select name="user.year" id="year-change" class="input-xlarge">
								<option value="1" <%= account.year==1?'selected':''%>>First Year (Freshman)</option>
								<option value="2" <%= account.year==2?'selected':''%>>Second Year (Sophomore)</option>
								<option value="3" <%= account.year==3?'selected':''%>>Third Year (Junior)</option>
								<option value="4" <%= account.year==4?'selected':''%>>Fourth Year (Senior)</option>
								<option value="5" <%= account.year==5?'selected':''%>>Fifth Year (Super-Senior)</option>
								<option value="6" <%= account.year==6?'selected':''%>>6+ Years</option>
								<option value="7" <%= account.year==7?'selected':''%>>Graduate Student</option>
							</select>
			      </div>
			    </div>
				</fieldset>
			</div><!-- /.row -->
		</div>


		<div class="row">
			<div class="span8 offset2">
				<fieldset>
			    <legend>Sharing Settings</legend>
					<div class="control-group">
			      <label class="control-label" for="major_id">Make schedules searchable for recruiters</label>
			      <div class="controls">
							<label for="recruiters_yes">
								<input type="radio" name="user.shareWithRecruiters" value="true" id="recruiters_yes" <%=account.shareWithRecruiters?'checked':''%>/>
								Yes, allow job recruiters to search for me.
							</label>
							<label for="recruiters_no" >
								<input type="radio" name="user.shareWithRecruiters" value="false"id="recruiters_no" <%=account.shareWithRecruiters?'':'checked'%>/>
								No, I do not want my schedule to be searchable. 
							</label>
			      </div>
			    </div>
				</fieldset>
			</div>
		</div><!-- /.row -->


		<div class="row">
			<div class="span8 offset2">
				<fieldset>
			    <legend>Friend Settings</legend>
					<div class="control-group">
			      <label class="control-label" for="major_id">Auto Accept Friends</label>
			      <div class="controls">
							<label for="friend_accept_yes">
								<input type="radio" name="user.autoAcceptFriends" value="true" id="friend_accept_yes" <%=account.autoAcceptFriends?'checked':''%>/>
								Yes, automatically accept friends when they add me.
							</label>
							<label for="friend_accept_no" >
								<input type="radio" name="user.autoAcceptFriends" value="false"id="friend_accept_no" <%=account.autoAcceptFriends?'':'checked'%>/>
								No, I must manually confirm friends before they can see my information. 
							</label>
							<p class="help-block">Invitations set to you will be automatically accepted.</p>
			      </div>
			    </div>
		
					<div class="control-group">
			      <label class="control-label" for="major_id">Invite Emails</label>
			      <div class="controls">
							<label for="friend_email_yes">
								<input type="radio" name="user.canEmailFriendRequests" value="true" id="friend_email_yes" <%=account.canEmailFriendRequests?'checked':''%>/>
								Yes, send me an email when users request me as a friend.
							</label>
							<label for="friend_email_no" >
								<input type="radio" name="user.canEmailFriendRequests" value="false" id="friend_email_no" <%=account.canEmailFriendRequests?'':'checked'%>/>
								No, I would not like to receive emails when users request me as a friend.
							</label>
							<p class="help-block">Send me emails when friends want to add me.</p>
			      </div>
			    </div>
				
					<div class="form-actions">
						<a class="btn btn-large btn-primary submit">Save</a>
					</div>
			
				</fieldset>
			</div>
		</div><!-- /.row -->
		<!-- /.row -->
		
	</form>
	</div><!-- /.container -->

	<%- partial('includes/js.ejs') %>

	<script>
		var current_school = "<%= account.school?account.school.id:''%>",
				current_major  = "<%= account.major?account.major.id:''%>";
		$('#user_school').bind('change', updateMajors);
		function updateMajors(){
			var k = $('#user_school').val(),
				$s = $('#user_major').empty();
			$.ajax({url: '/school/departments/'+k,dataType: 'json',
					success: function(j){
						for(i in j){
							$s.append($('<option>', { value : j[i]._id, selected:(j[i]._id==current_major)}).text(j[i].name));}}
			});
		}
		updateMajors();
		
		
		function submit_change(){
			data = $('form#settings-form').serialize();
			data._method = 'PUT'
			console.log(data);
			$.ajax({
				url:'/settings',
				data: data,
				type: 'PUT',
				dataType: 'json',
				success: function(result){
					if ( result.success == false )
					{
						show_timed_error(result.message+'<br /><small>'+result.information+'</small>');
					}
					else
					{
						window.location = window.location;
					}	
					$('html, body').animate({scrollTop:0}, 'fast');
				}
			});
		}
		$('.submit').click(function(){
			if ( $('#user_school').val() != current_school && current_school != '' ){
				confirmDialog('<h4>Your school has changed!</h4><br /><p>If you continue all your previously <strong>saved schedules and caffeine notifications will be </strong>removed permanently!</strong> Are you sure you want to change schools?</p>', 'submit_change();current_school=$(\'#school-change\').val();localStorage.clear();','closeDialog();');
			}else{
				submit_change();
			}
			return;
		});
		
		function showSchoolDialog() {
			openDialog('/account/set-school').on('hidden', function(){setTimeout(showSchoolDialog, 1000)});
		}
		if ( window.school === 0 ){
			showSchoolDialog();
		}
	</script>