<h1>Schools</h1>
<div class="row">
	<div class="span10">
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>School</th>
					<th>Sections</th>
				</tr>
			</thead>
			<tbody>
		<% if (results.length) { %>
    	<% results.forEach(function(result){ user = result['user']; sections = result['sections']; %>
				<tr data-school="<%=user._id%>">
					<td><%=user.name%></td>
					<td><%=((user.school) ? user.school.name : '')%></td>

					<td>
					<% if (sections && sections.length) { %>
						<table>
    					<% sections.forEach(function(section){%>
    					<tr>
    						<td><%=section.term.name%></td>
    						<td><%=section.name%></td>
    						<td><%=section.course.name%></td>
    					</tr>
    					<%})%>
						</table>
    			<%}%>
    			</td>
				</tr>
			<% }) %>
		<% } %>
			</tbody>
		</table>
	</div>
</div>