<div class="row-fluid">
  <div class="span24">
    <h2>General Settings</h2>
  </div>
</div>

<div class="row-fluid">
  <ul class="settings-list">


    <li class="setting-item" id="edit-name">
      <a class="setting-item-link clearfix">
        <div class="setting-name">Name</div>
        <span class="editicon">
          <i class="icon icon-pencil"></i>Edit
        </span>
        <div class="setting-value">
          <%=user.get('name')%>
        </div>
      </a>
      <div class="setting-content"></div>
    </li>


    <li class="setting-item" id="edit-email">
      <a class="setting-item-link clearfix">
        <div class="setting-name">Email</div>
        <span class="editicon">
          <i class="icon icon-pencil"></i>Edit
        </span>
        <div class="setting-value">
          <%=user.get('email')%>
        </div>
      </a>
      <div class="setting-content"></div>
    </li>


    <li class="setting-item" id="edit-phone">
      <a class="setting-item-link clearfix">
        <div class="setting-name">Phone</div>
        <span class="editicon">
          <i class="icon icon-pencil"></i>Edit
        </span>
        <div class="setting-value">
          <%=user.get('phone')||'Not Set'%>
        </div>
      </a>
      <div class="setting-content"></div>
    </li>

    <li class="setting-item" id="edit-password">
      <a class="setting-item-link clearfix">
        <div class="setting-name">Password</div>
        <span class="editicon">
          <i class="icon icon-pencil"></i>Edit
        </span>
        <div class="setting-value">
          <%if(user.get('password')){%>
            Password is set
          <%}else{%>
            No password set
          <%}%>
        </div>
      </a>
      <div class="setting-content"></div>
    </li>

    <li class="setting-item noedit" id="edit-oauth">
      <a class="setting-item-link clearfix">
        <div class="setting-name">OAuth Providers</div>
        <span class="editicon">
          <i class="icon icon-pencil"></i>Edit
        </span>
        <div class="setting-value">
          <%if(user.get('oauthPassword') && user.get('oauthPassword').length){%>
            <%for(i in user.get('oauthPassword')){%>
              <img class="oauth-logo" src="/images/login/<%=user.get('oauthPassword')[i]%>.png"/>
            <%}%>
          <%}else{%>
            None
          <%}%>
        </div>
      </a>
      <div class="setting-content"></div>
    </li>

    <li class="setting-item" id="edit-school">
      <a class="setting-item-link clearfix">
        <div class="setting-name">School</div>
        <span class="editicon">
          <i class="icon icon-pencil"></i>Edit
        </span>
        <div class="setting-value">
          <%if (user.get('school')){%>
          <img class="oauth-logo" src="/images/schools/<%=user.get('school').get('abbr')%>_logo.png"/>
          <%=user.get('school').get('name')%>
          <%}else{%>
          Not Set
          <%}%>
        </div>
      </a>
      <div class="setting-content"></div>
    </li>

  </ul>

</div>
