<h1>Schools</h1>
<div class="row">
	<div class="span10">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Abbr</th>
					<th>Location</th>
					<th>Waitlist</th>
					<th>Notifications</th>
					<th>Update Cron</th>
					<th>Enabled</th>
				</tr>
			</thead>
			<tbody>
		<% if (schools.length) { %>
    	<% schools.forEach(function(school){ %>
				<tr data-school="<%=school._id%>">
					<td><%=school._id%></td>
					<td><a href="/schools/<%=school._id%>"><%=school.name%></a></td>
					<td><%=school.abbr%></td>
					<td><%=(school.city+', '+school.state+' '+school.zip)%></td>
					<td><%=school.waitlist%></td>
					<td><button class="school-notifications-toggle <%=(school.notifications?'btn-success':'btn-danger')%>"><%=school.notifications%></button></td>
					<td contenteditable="true"><%=school.notificationCron%></td>
					<td><button class="school-enabled-toggle <%=(school.enabled?'btn-success':'btn-danger')%>"><%=school.enabled%></button></td>
				</tr>
			<% }) %>
		<% } %>
			</tbody>
		</table>
	</div>
</div>