<ul class="unstyled">
  <li>Credits: <%= credits %> </li>
  <li>Section: <%= section %></li>
  <li>Instructor: <%= instructor %></li>
  <li>CRN: <%= crn %></li>
  <li>Seats: <%= seats %></li>
  <li>Time: <%= time %></li>
  <li>Location: <%- location %></li>
</ul>